<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap" +  ViewBag.BootstrapTheme + ".css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>*@
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/@ViewBag.LinkToHome" class="navbar-brand"><i class="glyphicon glyphicon-home"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @RenderSection("Navigation", required: false)
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="@(ViewBag.CurrentPageId == -1 ? "active" : "")">@Html.ActionLink("Rozvrh", "TimeTable", "UserHomePage")</li>
                    <li class="@(ViewBag.CurrentPageId == -2 ? "active" : "")">@Html.ActionLink("Ke stažení", "Downloads", "UserHomePage")</li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Odkazy<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://www.math.fme.vutbr.cz/default.aspx?catalog=3&catsrtext=@(ViewBag.IdItem)&catsrfield=38">Soubory ke stažení</a></li>                            
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div @*class="jumbotron"*@>
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ústav matematiky FSI VUT v Brně</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>