@model IEnumerable<IntranetPublic.Models.CourseViewModel>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="info">
            <th width="100px">
                @(ViewBag.lang == "cz" ? "Kód" : "Code")
            </th>
            <th width="100px">
                @(ViewBag.lang == "cz" ? "Semestr" : "Semester")
            </th>
            <th>
                @(ViewBag.lang == "cz" ? "Název" : "Name")                
            </th>
            <th width="150px"></th><th width="150px"></th>
            @*<th width="140px">
                @Html.DisplayNameFor(model => model.date)/@Html.DisplayNameFor(model => model.user_full_name)
            </th>
            <th width="140px">
                @Html.DisplayNameFor(model => model.course_code_name)
            </th>
            <th>
                Soubor
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <th>
                    @Html.Raw(item.CodeSearch)
                </th>
                <td>
                    @if (ViewBag.lang == "cz")
                    {
                        @(item.Semester == "z" ? "Zimní" : "Letní")
                    }
                    else
                    {
                        @(item.Semester == "z" ? "Winter" : "Summer")
                    }
                </td>
                <td>
                    @Html.Raw(ViewBag.lang == "cz" ? item.Name : item.NameEng)
                </td>
                <td>
                    @Html.ActionLink((ViewBag.lang == "cz" ? "Soubory ke stažení" : "Downloads"), "Index", "Downloads", routeValues: new { filter = item.Code, beta = Request["beta"]}, htmlAttributes: null)
                </td>
                <td>
                @if (ViewBag.lang == "cz")
                {
                    <a href="@( "https://www.vutbr.cz/studium/ects-katalog/detail-predmetu?apid=" + item.CVISID )">Karta kurzu</a>
                }
                else
                {
                    <a href="@( "https://www.vutbr.cz/en/studies/ects-catalogue/course-detail?apid=" + item.CVISID )">Course detail</a>
                }
                </td>
                @*<td>
                    <small>
                        @item.date.ToString("d")<br />
                        @Html.DisplayFor(modelItem => item.user_full_name)
                    </small>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.course_code_name)
                </td>
                <td align="center">
                    <a href="/download.aspx?id_file=@item.id_file">
                        <img src="@item.ThumbNailPath" style="max-width:32px; max-height:32px" /><br />
                        <small>@Html.DisplayFor(modelItem => item.File.name)</small>
                    </a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
