@using IntranetPublic.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @((ViewBag.lang == null || ViewBag.lang == "cz")? "Ústav matematiky FSI VUT v Brně" : "Institute of Mathematics")</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/SiteIframe.css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
</head>
<body>
    <div class="container body-content">
        <div @*class="jumbotron"*@>
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
