@using IntranetPublic.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @((ViewBag.lang == null || ViewBag.lang == "cz")? "Ústav matematiky FSI VUT v Brně" : "Institute of Mathematics")</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        @*navbar-fixed-top*@
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                @*<a href="~/@ViewBag.LinkToHome" class="navbar-brand"><i class="glyphicon glyphicon-home"></i></a>*@
                <a href="http://www.math.fme.vutbr.cz" class="navbar-brand" style="padding:2px">
                    <img src="~/Content/img/UM_color_RGB_@((ViewBag.lang == null || ViewBag.lang == "cz")? "1" : "2").png" border="0" @*width="182" height="45"*@>
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*@RenderSection("Navigation", required: false)*@
                    <li class="@Url.MakeActiveClass("Articles", 2)">@Html.ActionLink("Oborové studium ", "Index", "Articles", routeValues: new { section = 2, lang = "cz" }, htmlAttributes: null)</li>
                    <li class="@Url.MakeActiveClass("Articles", 27)">@Html.ActionLink("Aktuality pro studenty", "Index", "Articles", routeValues: new { section = 27, lang = "cz" }, htmlAttributes: null)</li>
                    <li><a href="#">Page 3</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Page 1
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @RenderSection("Navigation", required: false)

                    @if (ViewBag.lang == null || ViewBag.lang == "cz")
                    {
                        <li class="@Url.MakeActiveClass("Staff")">@Html.ActionLink("Zaměstnanci", "Index", "Staff", routeValues: null, htmlAttributes: new { id = "hpLink1" })</li>
                        <li class="@Url.MakeActiveClass("TimeTable")">@Html.ActionLink("Rozvrhy", "Index", "TimeTable", routeValues: null, htmlAttributes: new { id = "hpLink3" })</li>
                        <li class="@Url.MakeActiveClass("Courses")">@Html.ActionLink("Kurzy", "Index", "Courses", routeValues: null, htmlAttributes: new { id = "hpLink4" })</li>
                        <li class="@Url.MakeActiveClass("Downloads")">@Html.ActionLink("Soubory ke stažení", "Index", "Downloads", routeValues: null, htmlAttributes: new { id = "hpLink2" })</li>
                    }
                    else
                    {
                        <li class="@Url.MakeActiveClass("TimeTable")">@Html.ActionLink("Time Tables", "Index", "TimeTable", routeValues: null, htmlAttributes: new { id = "hpLink3" })</li>
                        <li class="@Url.MakeActiveClass("Courses")">@Html.ActionLink("Courses", "Index", "Courses", routeValues: new { lang = "eng"}, htmlAttributes: new { id = "hpLink4" })</li>
                    }

                    @*<li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Odkazy<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://www.math.fme.vutbr.cz/default.aspx?catalog=2&timeplane=1&catsrtext=@(ViewBag.IdItem)&catsrfield=11">Rozvrh</a></li>
                            <li><a href="http://www.math.fme.vutbr.cz/default.aspx?catalog=3&catsrtext=@(ViewBag.IdItem)&catsrfield=38">Soubory ke stažení</a></li>                            
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div @*class="jumbotron"*@>
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ústav matematiky FSI VUT v Brně</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
