@model IntranetPublic.StaffItem

@if (Model.ODBOR != "DK" && Model.FUNKCE1 != "")
{
    <div class="row">
        <div class="col-md-12">
            <strong>@(ViewBag.lang == "cz" ? Model.FUNKCE1 : Model.FUNKCE1_ENG)</strong>
        </div>
    </div>
}


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#@("collapse" + Model.id_item)">@Html.Raw(Model.JMENO)</a>
            </h4>
        </div>
        <div id="@("collapse" + Model.id_item)" class="panel-collapse collapse @(ViewBag.itemCount == 1 ? "in": "")">
            <div class="panel-body">
                <div class="alert alert-info">
                    <a href="mailto:@Model.EMAIL" class="btn btn-default btn-xs" target="_top">@Model.EMAIL</a>
                    <span class="label label-default">@Model.TELEFON </span>&nbsp;
                    <span class="label label-default">@Model.MISTNOST</span>
                    @if (Model.ODBOR == "DK" && Model.FUNKCE2 != "")
                    {
                        <span class="label label-success">@(ViewBag.lang == "cz" ? "Školitel" : "Supervisor") : @Model.FUNKCE2 </span>
                    }
                </div>
                <div class="well well-sm" style="margin-bottom: 0px">
                    @if (Model.ODBOR != "DK") { 
                        <a href="@Model.WWW" target="_top">@(ViewBag.lang == "cz" ? "Osobní stránka" : "Home page")</a> @:&nbsp;| &nbsp;
                    }
                    <a href="https://www.fme.vutbr.cz/prdetail.html?pid=@Model.ID_OSOBY" target="_top">@(ViewBag.lang == "cz" ? "Fakultní stránka" : "Faculty page")</a> &nbsp;|&nbsp;
                    <a href="https://www.vutbr.cz/lide/nm-@Model.ID_OSOBY/publikace" target="_top">@(ViewBag.lang == "cz" ? "Publikace" : "Publications")</a> &nbsp;|&nbsp;
                    @Html.ActionLink((ViewBag.lang == "cz" ? "Rozvrh" : "Time table"), "Index", "TimeTable", new { uid = Model.id_item, beta = Request["beta"] }, null) &nbsp;|&nbsp;
                    @Html.ActionLink((ViewBag.lang == "cz" ? "Soubory ke stažení" : "Downloads"), "Index", "Downloads", new { id_item_user = Model.id_item, beta = Request["beta"] }, null)
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-md-12">
        <a href="javascript:void(0)" class="linkStaffItem" data-iditem="@Model.id_item">
            @Html.Raw(Model.JMENO)
        </a>

        <div class="panel panel-info staffItem" style="display:none" data-iditem="@Model.id_item">
            <div class="panel-body ">
                <div>
                    <a href="mailto:@Model.EMAIL" class="btn btn-default btn-xs">@Model.EMAIL</a>
                    <span class="label label-default">@Model.TELEFON </span>&nbsp;
                    <span class="label label-default">@Model.MISTNOST</span>

                </div>

                <div>
                    <a href="@Model.WWW">Osobní stránka</a>&nbsp;|&nbsp;
                    <a href="https://www.fme.vutbr.cz/prdetail.html?pid=@Model.ID_OSOBY">Fakultní stránka</a> &nbsp;|&nbsp;
                    <a href="https://www.vutbr.cz/lide/nm-@Model.ID_OSOBY/publikace">Publikace</a> &nbsp;|&nbsp;
                    @Html.ActionLink("Rozvrh", "Index", "TimeTable", new { uid = Model.id_item }, null) &nbsp;|&nbsp;
                    @Html.ActionLink("Soubory ke stažení", "Index", "Downloads", new { id_item_user = Model.id_item }, null)
                </div>
            </div>
        </div>
    </div>
</div>*@