@model IEnumerable<IntranetPublic.Models.DownloadViewModel>

@{
    ViewBag.Title = "Soubory ke stažení";
}

<div class="panel panel-default well well-sm" style="margin-top:5px;margin-bottom:5px">
    <div class="panel-body" style="padding:5px">
        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label" for="ddlSort"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Řadit podle:</label>

                @Html.DropDownList("ddlSort", new SelectListItem[] {
                    new SelectListItem { Text = "Abecedy", Value = "0"},
                    new SelectListItem { Text = "Data vložení", Value = "1", Selected = true},
                    new SelectListItem { Text = "Kurzu", Value = "2"},
                    new SelectListItem { Text = "Vložil", Value = "3"}
                },
                htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group col-md-3">
                <label class="control-label" for="ddlFilter"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Určeno pro kurz:</label>
                @Html.DropDownList("ddlFilter", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group col-md-3">
                <label class="control-label" for="ddlUsers"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Vložil:</label>
                @Html.DropDownList("ddlUsers", null, htmlAttributes: new { @class = "form-control" })
            </div>

            <div class="form-group col-md-3">
                <label class="control-label" for="tbSearch"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Hledat:</label>
                @Html.TextBox("tbSearch", "", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

    </div>
</div>




<div id="downloadList" class="panel panel-default" style="height:500px; overflow-y:scroll; padding-top:1px; padding-left:1px; margin-bottom: 0px">
    @{ Html.RenderPartial("_DownloadList", Model); }
</div>


@section Scripts {

    <script type="text/javascript">

        var refresh = function () {
            $.post('@Url.Action("Index")',
                {
                    sort: $('#ddlSort').val(),
                    filter: $('#ddlFilter').val(),
                    search: $('#tbSearch').val(),
                    id_item_user: $('#ddlUsers').val()
                }, function (data) {
                    $('#downloadList').html(data);
                });
        }

        var resizeDownloadList = function () { $('#downloadList').css('height', window.innerHeight - $('#downloadList').offset().top - 115) };

        $(function () {

            $('#ddlSort').change(refresh);
            $('#ddlFilter').change(refresh);
            $('#ddlUsers').change(refresh);
            $('#tbSearch').keyup(refresh);

            $(window).resize(resizeDownloadList);           

        });

        resizeDownloadList();
    </script>
}
